/*scroll-bar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: black;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #201f48;
  }

/*scroll-bar */

body{
    /* background: linear-gradient(to right, #008b8b, #0b385f); */
    background-image: url(assets/skin3.jpg);
    backdrop-filter: blur(0.05vmax);
    background-size: cover;
    margin: 0;
}

.all{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    margin: 10px 10px 10px 10px;
    box-shadow: 0 2px 5px #36347d;
}

header{
    display: flex;   
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 5;
    background: hsla(0, 0%, 0%, 0.4);
}

header > nav > ul > li{
    padding: 6px;
}

nav > ul{
    margin: 5px;
}

.logo-all{
    display: flex;
    align-items: center;
    color: white;
}

.am{
    padding-left: 10px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{
    width: 80%;
}

nav a{
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    opacity: 100%;
    padding: 5px 10px;
}

nav a:hover{
    border: solid 1px;
    border-radius: 15px;
}

nav a.active{
    border-radius: 15px;
    background: #36347d;
}

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 5px 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    cursor: pointer;
    border: none;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus, .dropdown:hover {
    opacity: 100%;
    border: solid 1px;
    border-radius: 15px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    opacity: 80%;
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    border-radius: 15px;
    margin-top: 2px;
    border: solid 1px white;
    position: absolute;
    background-color: #040d28;
    min-width: 160px;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: rgba(174, 174, 174, 0.1);
    border: none;
 }
  
  /* Show the dropdown menu */
  .show {display:block;}

ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

a{
    text-decoration: none;
}

#main{
    margin: 0;
}

.logo{
    height: 60px;
}

#billboard{
    position: relative;
    display: block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 50px 30px 50px 30px;
    margin: 10px 10px 10px 10px;
    color: white;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px #3c397e;

}

.butt{
    background-color: #2b2a61;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
}

.butt:hover{
    background-color: #36347d;

}

.option{
    display: inline-flex;
    padding-top: 30px; 
    padding-bottom: 30px;
    justify-content: space-between;
}

.option img{
    width: 55%;
    border-radius: 15px 15px 0px 0px;

}

.option button{
    width: 55%;
    height: 20%;
    border-radius: 0px 0px 15px 15px;
}

#footer h5, h4{
    padding: 3px;
    font-weight: 400;
    opacity: 80%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#footer_contact h3, h2{
    font-weight: 500;
}

#footer_contact, #footer_contact a{
    color: white;
}

#footer_contact img{
    width: 3%;
    float: left;
    display: flex;
    padding-right: 15px;
}

#footer_contact{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 20px;
}


/*Purchase Screen*/

.grid_view{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 20px;
}

.table{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    margin: 10px;
}

.table :hover{
    background-color: #1d1d40;
    border-radius: 15px;
}

.card{
    display: flex;
    padding: 10px;
    overflow: hidden;
}

.card img{
    width: 55%;
    height: 210px;
    border-radius: 15px;
}

.details{
    padding-left: 1rem;
}

.details h1, h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}


.booking{
    cursor: pointer;
    background: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    border: none;
}

.booking:hover{
    background: white;
    border-radius: 10px;
    border: 2px solid lightseagreen;
    scale: 1.05;
}

#req{
    text-align: center;
    padding-bottom: 20px;
}

.req_but{
    height: 3rem;
    width: 50%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

.req_but:hover{
    scale: 1.01;
}

.pages{
    padding: 30px 0px 30px 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
}

.pages a{
    color: black;
}

/*Purchase Screen end*/

/*Rent Screen Start*/

#rent{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.border{
    padding: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
}

.dropoff, .pickup_loc, #datetime1, #datetime2, #duration{
    width: 80%;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

#datetime1, #datetime2, #duration{
    height: 2rem;
}

.vehicle_type{
    height: 2.5rem;
    width: 82%;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.label1{
    grid-row: 1;
    grid-column: 1;
}

.pickup_loc{
    grid-row: 2;
    grid-column: 1;
}

.label2{
    grid-row: 1;
    grid-column: 2;
}

.dropoff{
    grid-row: 2;
    grid-column: 2;
}

.label4{
    grid-row: 4;
    grid-column: 3;
}

#duration{
    grid-row: 5;
    grid-column: 3;
}

.label5{
    grid-row: 4;
    grid-column: 1;
}

#datetime1{
    grid-row: 5;
    grid-column: 1;
}

.label6{
    grid-row: 4;
    grid-column: 2;
}

#datetime2{
    grid-row: 5;
    grid-column: 2;
}

.sub{
    color: black;
}

.rent_sub{
    margin-top: 80px;
    height: 3rem;
    width: 80%;
    cursor: pointer;
    grid-column: 2;
    grid-row: 6;
    border: none;
    border-radius: 8px;
}

.rent_sub:hover{
    scale: 1.02;
    border: 1px solid lightseagreen;
}

label{
    font-size: small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

/*Rent Screen End*/

/*Req Vehicle Screen*/

.model, .brand, #veh_color{
    width: 80%;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

#veh_color{
    height: 2rem;
}

.build_year{
    height: 2.5rem;
    width: 82%;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.label1{
    grid-row: 1;
    grid-column: 1;
}

.brand{
    grid-row: 2;
    grid-column: 1;
}

.label2{
    grid-row: 1;
    grid-column: 2;
}

.model{
    grid-row: 2;
    grid-column: 2;
}

.label_color{
    grid-row: 4;
    grid-column: 1;
}

#veh_color{
    grid-row: 5;
    grid-column: 1;
}

.sub{
    color: black;
}

.req_sub{
    margin-top: 80px;
    height: 3rem;
    width: 80%;
    cursor: pointer;
    grid-column: 2;
    grid-row: 6;
    border: none;
    border-radius: 8px;
}


/*Req page end*/ 

/*About Page*/

.test_collection{
    display: flex;
}

.test{
    background-color: hsla(241, 43%, 22%, 0.8);
    border: solid 1px white;
    display: inline-block;
    width: 22rem;
    height: 13rem;
    padding: 20px;
    border-radius: 15px;
}

.padding{
    padding: 30px 10px 20px 0px;
}

.avatar{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.test_name{
    padding-left: 20px;
    font-weight: 500;
}

.test_text{
    display: flex;
    opacity: 80%;
}

/*About Page End*/


/*Login Page*/

.log{
    font-weight: 500;
    text-align: center;
    color: white;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    padding-bottom: 30px;
}

#form{
    text-align: center;
    scroll-behavior: auto;
    margin: 0;
    padding: 25px;
}

form .fin{
    min-height: 35px;
    min-width: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    border-radius: 8px;
    border-color: black;
}

.but{
    color: black;
    border: none;
    border-radius: 8px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
}

#form button:hover{
    scale: 1.03;
}

.info1{
    font-size: 18px;
    margin: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding-top: 30px;
}

.info2{
    font-size: 18px;
    margin: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding-top: 10px;
}

.check{
    margin-right: 15px;
}

.rem{
    color: white;
    font-size: 20px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#booking_form{
    text-align: center;
    scroll-behavior: auto;
    margin: 0;
    padding: 25px;
}

#booking_form button:hover{
    scale: 1.03;
}

span{
    margin: 10px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: crimson;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 75px;
}

.new{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

.new > a{
    color: cyan;
}

#padd{
    margin-bottom: 20px;
}

/*Login Page end*/

/*Pages section*/

.pages {
    padding: 20px;
    text-align: center;

  }

.footer_nav{
    width: 100%;
}

.footer_ul {
    list-style-type: none;
    margin: 0;
    display: inline-block;
    padding: 0;
}

.footer_ul > li {
    display: inline-block;
    padding: 5px;
}

.footer_ul > li > button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    padding: 3px 8px 3px 8px;
}

.footer_ul > li > button.active {
    color: #fff;
    background-color: #3e3b8e;
    border: 1px solid white;
    font-weight: bold;
}

.footer_ul > li > button:hover:not(.active) {
    background-color: #f2f2f2;
    scale: 1.04;
}

.footer_ul > li > button:disabled {
    color: #ccc;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: not-allowed;
}

/*Pages section End*/

/*Admin/User Panel Start*/

#greeting{
    padding: 30px;
    display: flex;
    font-size: larger;
}

.function{
    display: grid;
    justify-content: space-between;
    justify-items: center;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
}

.func_button{
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: medium;
    align-items: center;
    background: #201f48;
    border-radius: 20px;
    border: none;
    margin: 10px;
}

.func_button:hover{
    border: 1px solid silver;
    scale: 1.01;
}

.func_button_a .func_button{
    padding: 35px 5px 35px;
}

.func_count{
    padding: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.func_flex{
    display: flex;
}

.modal {
    display: none;
    position: absolute;
    z-index: 8;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    margin: 50px auto;
    border: 1px solid silver;
    width: auto;
}

.popup-display{
    padding: 25px;
    margin: 25px;
    box-shadow: 0 2px 5px #f5f5f5;
    background: hsla(241, 40%, 20%, 0.8);
}

.popup-display h2,
.popup-display p {
    padding-top: 10px;
    margin: 0 0 20px;
    font-weight: 400;
    color: white;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.display_table{
    border-right: 1px solid white;
    border-top: 1px solid white;
}

.display_table td{
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    padding: 10px;
}

.display_table th{
    border-bottom: 1px solid white;
    padding: 10px;
    border-left: solid 1px white;
}

.display_table {
    display: inline-block;
}

.button_av{
    color: black;
    font-size: small;
    border: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    margin-top: 30px;
}

/*Admin/User Panel End*/

/*Add vehicle screen*/

.label_image{
    grid-row: 6;
    grid-column: 2;

}

#veh_image{
    grid-row: 7;
    grid-column: 2;
    color: white;
    width: 60%;
    padding-top: 10px;
    cursor: pointer;
}

.make_year{
    grid-row: 5;
    grid-column: 2;
    height: 2.5rem;
    width: 82%;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.label_make{
    grid-row: 4;
    grid-column: 2;
}

.sub_button{
    margin-top: 80px;
    height: 3rem;
    width: 80%;
    cursor: pointer;
    grid-column: 2;
    grid-row: 8;
    border: none;
    border-radius: 8px;
}

.label_price{
    grid-row: 4;
    grid-column: 3;
}

.av_price{
    grid-row: 5;
    grid-column: 3;
    height: 2rem;
    width: 80%;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

#acc_sett{
    display: inline-flex;
    flex-direction: column;
    
}

#sett_but{
    color: black;
    font-size: large;
    border: none;
    border-radius: 15px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
}

/*Social links*/

#footer{
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

.social-links a{
    display: inline-block;
}

.social-links ul{
    list-style: none;
    padding-left: 0%;
    margin: 0%;
}

.social-links li{
    padding: 0px 10px;
}

.social-links svg{
    color: mintcream;
}

.fb-icon svg:hover{
    color: dodgerblue;
}

.tw-icon svg:hover{
    color: aqua;
}

.yt-icon svg:hover{
    color: red;
}

.in-icon svg:hover{
    color: deeppink;
}

.social-links-footer h2{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    text-align: center;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0px;
}

/*Social links end*/